body {
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #ffffff;
}

.container {
  text-align: center;
  margin-bottom: 150px;
}

h1 {
  font-size: 80px;
  font-family: 'Space Mono', 'Courier New', Courier, monospace;
  position: relative;
  color: black;
  text-shadow: 1px 1px 0 #ff00ff, -1px -1px 0 #00ffff;
  line-height: 100px;
  margin-block-end: .4em;
}

h2 {
  font-size: 35px;
  font-family: 'Space Mono', 'Courier New', Courier, monospace;
  color: black;
  margin-bottom: 190px;
}

h1::before,
h1::after {
  color: black;
  text-shadow: 1px 1px 0 #ff00ff, -1px -1px 0 #00ffff;
}

h1::before {
  content: '<';
}

h1::after {
  content: '>';
}

.links {
  display: flex;
  gap: 250px;
  margin-bottom: 290px;
  font-size: 19px;
}

.link-item {
  text-align: left;
}

.link-item a, 
.link-item strong {
  color: black;
  display: block;
  max-width: 255px;
  text-decoration: underline;
  font-family: 'Clear Sans', 'Courier New', Courier, monospace;
}

.construction {
  font-size: 30px;
  font-family: 'Space Mono', 'Courier New', Courier, monospace;
  color: black;
  text-shadow: 1px 1px 0 #ffa8ff, -1px -1px 0 #acffff;
  text-align: center;
}

.construction strong {
  display: block;
  max-width: 600px;
  margin: auto;
}
